/* static START */
* {
    margin:0;
    padding:0;
}
abbr[title], acronym[title] {
    border-bottom:thin dotted;
    cursor:help;
}
body {
    background:#BEC3C6 url(images/layout/default/bg.jpg) repeat-x;
    color:#555;
    font-family:Verdana,"BitStream vera Sans",Helvetica,Sans-serif;
    font-size:12px;
}
h1, h2, h3, h4, h5, h6 {
    font-weight:bolder;
    letter-spacing:-0.07em;
    font-family:Arial;
}
h1 {font-size:200%;}
h2 {font-size:170%;}
h3 {font-size:150%;}
h4 {font-size:130%;}
h5 {font-size:110%;}
h6 {font-size:100%;}
img {
    border:0;
}
img.sided {
    background:#FFF;
    border:1px solid #CCC;
    padding:3px;
}
small {
    font-size:10px;
}
a:hover img.sided {
    border-color:#A6A6A6;
}
a {
    color:#2970A6;
    text-decoration:none;
}
a:hover {
    text-decoration:underline;
}

.post .content .wp-caption p {
    margin:0;
}
blockquote {
    background:#F4F5F7 url(images/layout/default/blockquote.gif) 3px 3px no-repeat;
    border:1px dashed #CCC;
    padding:8px 12px 8px 36px;
    margin:5px 0;
}

pre {
    border:1px dashed #CCC;
    padding:8px 12px 8px 36px;
    margin:5px 0;
}

.alignleft {
    float:left;
    text-align:left;
    margin-right:10px;
}
.alignright {
    float:right;
    text-align:right;
    margin-left:10px;
}
.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.floatleft {
    float:left;
}
.floatright {
    float:right;
}
.left {
    float:left;
    margin-right:10px;
}
.right {
    float:right;
    margin-left:10px;
}
.fixed, .clear {
    clear:both;
}
input.textfield,
textarea {
    background:#FFF url(images/layout/default/textfield.gif) top repeat-x;
    border:1px solid #A6A6A6;
    padding:2px 1px;
}

#wrap {
    background:url(images/layout/default/light.gif) center top no-repeat;
    padding:20px 0;
}
#container {
    margin:0 auto;
    width:936px;
}
/* layout END */

/* header START */
#header {
    background:url(images/layout/default/header_footer.jpg) 0 0 no-repeat;
    height:132px;
}
#caption {
    height:44px;
    padding:25px 30px 21px;
}
#title a {
    text-decoration:none;
    color:#FFF;
    /*width:250px;*/
    height:30px;
    display:block;
    font-family:"Arial";
    letter-spacing:0;
}

#tagline {
    color:#FFF;
    border-top:1px solid #FFF;
    text-decoration:none;
    font-family:"Arial";
    font-size:15px;
    float:left;
    padding:0 3px;
}
#navigation {
    margin:1px 0;
}
#menus li {
    display:inline;
    list-style:none;
}
#menus li a {
    background:transparent url(images/layout/default/menu.gif) no-repeat;
    display:block;
    color:#382E1F;
    height:31px;
    line-height:31px;
    padding:0 20px;
    margin-left:-10px;
    text-decoration:none;
    font-size:11px;
    float:left;
    z-index:1;
}
#menus li a:hover {
    background-position:0 -31px;
}
#menus li.current_page_item a,
#menus li.current-cat a {
    background-position:0 -62px;
}
#menus li a.home {
    background-position:0 -93px;
    width:45px;
    padding:0;
    margin-left:0;
    text-indent:-999em;
}
#menus li a.home:hover {
    background-position:0 -124px;
}
#menus li.current_page_item a.home {
    background-position:0 -155px;
}
#menus li a.lastmenu:hover {
    background-position:0 0;
}
#searchbox {
    background:transparent url(images/layout/default/searchbox.gif) no-repeat scroll 0 0;
    display:block;
    float:right;
    height:23px;
    margin-right:10px !important;
    margin-top:4px;
    padding:2px;
    width:209px;
}
#searchbox .textfield {
    background:transparent none repeat scroll 0 0;
    border:0 none;
    float:left;
    margin-right:2px;
    padding-left:2px;
    width:185px;
}
#searchbox .button {
    background:transparent none repeat scroll 0 0;
    border:0 none;
    cursor:pointer;
    float:left;
    height:18px;
    margin-top:1px;
    width:18px;
}
#searchbox .searchtip {
    color:#999999;
}
/* header END */

/* submenu START */
#menus li ul {
    display:none;
    background:#F4F5F7;
    border:1px solid #CCC;
    border-top-color:#A6A6A6;
    padding:0 5px;
}
#menus li li {
    float:none;
    margin:0 !important;
    margin:0;
    padding:0;
    display:block;
    list-style:none;
}
#menus li li a {
    float:none;
    display:block;
    padding:5px;
    text-decoration:none;
    width:150px;
    font-size:12px;
    border-style:solid;
    border-color:#DDD;
    border-width:1px 0 0;
    margin:0;
    background-image:none;
    height:20px;
    line-height:20px;
}
#menus li li.first a {
    border-top:none;
}
#menus li li a:hover {
    font-weight:bolder;
}
/* submenu END */

/* content START */
#content {
    background:#FFF url(images/layout/default/sidesep.gif) right repeat-y;
    min-height:400px;
}
/* content END */
/* main START */
#main {
    background:#FFF;
    width:605px;
    padding:5px 15px 15px;
    float:left;
}

.post-date {
    margin-left:15px;
    float:right
}

.post h2 {
    display:block;
    margin-top:10px;
    border-bottom:1px solid #CCC;
    padding:0 5px 3px;
    font-size:16px;
    font-family:Verdana,"BitStream vera Sans";
}
.post h2 a.title {
    text-decoration:none;
    color:#4C4C4C;
}
.post h2 a.title:hover {
    color:#2970A6;
}

.post .content {
    padding:5px 0 5px 5px;
    line-height:145%;
    overflow:hidden;
}
.post .content p {
    margin-bottom:10px;
}
.post .content .under {
    height:16px;
    line-height:16px;
}
.post .content .under span {
    float:left;
    margin-right:15px;
}
.post .content h4 {
    color:#080;
    margin-bottom:10px;
}
.post .content img {
    max-width:600px;
}
.post .content ul,
.post .content ol {
    padding-bottom:10px;
}
.post .content ul li,
.post .content ol li {
    list-style-position:inside;
    padding-left:20px;
}
.post .content table {
    background:#FFF;
    border:1px solid #CCC;
    margin:5px 0 10px;
}
.post .content table tr td {
    border-top:1px solid #CCC;
    padding:2px 10px;
}
.post .content table tr th {
    padding:1px 10px;
    background:#EDEFF0;
    text-align:left;
}
.post .content .boxcaption {
    background-image:url(images/layout/default/postbox.gif);
}
.post .content .box {
    background-image:url(images/layout/default/postbox.gif);
}

/* sidebar START */
#sidebar {
    background:#F7F7F7;
    width:300px;
    float:right;
    font-size:95%;
    line-height:145%;
    overflow:hidden;
}
#sidebar li {
    background:url(images/layout/default/icons.gif) 0 -320px no-repeat;
    padding-left:22px;
    list-style:none;
    margin-top:5px;
/*font-size:95%;*/
}
#sidebar .content,
#sidebar li {
    font-size:12px;
}
#northsidebar .widget {
    background:url(images/layout/default/widgetsep.png) bottom no-repeat;
    padding:10px 15px 19px;
}
#northsidebar,
#southsidebar {
    font-size:95%;
}
#northsidebar .widget h2,
#southsidebar .widget h2 {
    margin-bottom:10px;
}
#northsidebar .widget .content p,
#southsidebar .widget .content p {
    margin-bottom:10px;
}

#sidebar .widget_feeds {
    padding:5px 15px 15px;
}

#sidebar #feedrss {
    height:25px;
    line-height:25px;
    display:block;
    padding:5px 5px 5px 36px;
    float:left;
    text-decoration:none;
    font-size:11px;
    background: url(images/layout/default/feeds.gif) 5px 5px no-repeat;
}

/* footer START */
#footer {
    background:url(images/layout/default/footer.jpg) 0px 0px no-repeat;
    display:block;
    height:88px;
    border-top:1px solid #CCC;
    font-size:11px;
    line-height:145%;
    width:100%;
}

#footer a {
    color:#2A2A2A;
}

#copyright {
    margin-top:12px;
    margin-left:20px;
}

#themeinfo {
    margin-left:20px;
}

a#gotop {
    background:url(images/layout/default/icons.gif) 0 -304px no-repeat;
    float:right;
    height:16px;
    line-height:18px;
    display:block;
    padding-left:16px;
    margin:5px 15px 0 0 !important;
    margin:5px 8px 0 0;
    text-decoration:none;
}
/* footer END */

/*

github.com style (c) Vasily Polovnyov <vast@whiteants.net>

*/

pre code {
    display: block;
    color: #000;
    background: #f8f8ff
}

.comment, .template_comment, .diff .header, .javadoc {
    color: #998;
    font-style: italic
}

.keyword, .css .rule .keyword, .winutils, .javascript .title, .lisp .title, .subst {
    color: #000;
    font-weight: bold 
}

.number, .hexcolor {
    color: #40a070
}

.string, .attribute .value, .phpdoc {
    color: #d14
}

.title, .id {
    color: #900;
    font-weight: bold
}

.javascript .title, .lisp .title, .subst {
    font-weight: normal
}

.class .title {
    color: #458;
    font-weight: bold
}

.tag, .css .keyword, .html .keyword, .tag .title, .django .tag .keyword {
    color: #000080;
    font-weight: normal
}

.attribute, .variable, .instancevar, .lisp .body {
    color: #008080
}

.regexp {
    color: #009926
}

.class {
    color: #458;
    font-weight: bold
}

.symbol, .lisp .keyword {
    color: #990073
}

.builtin, .built_in, .lisp .title {
    color: #0086b3
}

.preprocessor, .pi, .doctype, .shebang, .cdata {
    color: #999;
    font-weight: bold
}

.deletion {
    background: #fdd
}

.addition {
    background: #dfd
}

.diff .change {
    background: #0086b3
}

.chunk {
    color: #aaa
}
