<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head profile="http://gmpg.org/xfn/11">

    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="/default.css"
	  title="Nurullah Akkaya" media="screen,projection" />
    <link rel="alternate" type="application/rss+xml" 
	  title="Nurullah Akkaya's Home - RSS" 
	  href="http://nakkaya.com/rss-feed" />


    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />

    <title>{{ page.title }}</title>

  </head>
  <body>
    <!-- wrap START -->
    <div id="wrap">
      <!-- container START -->
      <div id="container">
	<!-- header START -->
	<div id="header">
	  <div id="caption">
	    <h1 id="title">
	      <a href="http://nakkaya.com/">Nurullah Akkaya's Home</a>
	    </h1>
	    <div id="tagline">
	      useless homepage for hosting pointless projects.
	    </div>
	  </div>

	  <!-- navigation START -->
	  <div id="navigation">
	    <ul id="menus">
	      <li class="current_page_item">
		<a 
		   class="home" title="Home"
		   href="/">Home
		</a>
	      </li>
	      <li class="page_item page-item-2">
		<a 
		   href="contact.markdown" 
		   title="About">About
		</a>
	      </li>
	      <li class="page_item page-item-2">
		<a 
		   href="/latest-posts" 
		   title="Latest Posts">Latest Posts
		</a>
	      </li>
	      <li>
		<a class="lastmenu" href="javascript:void(0);"></a>
	      </li>
	    </ul>
	    <!-- searchbox START -->
	    <div id="searchbox">
	      <form action="http://www.google.com/cse" id="cse-search-box">
		<div class="content">
		  <input type="hidden" name="cx" value="011327289396503571951:gmikuqrq7lm" />
		  <input type="hidden" name="ie" value="UTF-8" />
		  <input class="textfield" name="q" size="24" value="" type="text">
		  <span class="switcher">Switcher</span>
		</div>
	      </form>
	      <script type="text/javascript" src="http://www.google.com/coop/cse/brand?form=cse-search-box&lang=en"></script>
	    </div>
	    <!-- searchbox END -->
	    <div class="fixed"></div>
	  </div>
	  <!-- navigation END -->
	  <div class="fixed"></div>
	</div>
	<!-- header END -->
	<!-- content START -->
	<div id="content">
	  <!-- main START -->
	  <div id="main">
	    <div class="post" id="post-1">
	      <h2>{{ page.title }}</h2>
	      <div class="content">
		{{ content }}
		<p class="under">
		</p>
		<div class="fixed"></div>
	      </div>
	    </div>
	  </div>
	  <!-- main END -->
	  <!-- sidebar START -->
	  <div id="sidebar">
	    <!-- sidebar north START -->
	    <div id="northsidebar" class="sidebar">

	      <!-- feeds -->
	      <div class="widget widget_feeds">
		<div class="content">
		  <div id="subscribe">
		    <a rel="external nofollow" 
		       id="feedrss" 
		       title="Subscribe to this blog..." 
		       href="http://nakkaya.com/rss-feed">
		      <abbr title="Really Simple Syndication">
			RSS
		      </abbr>
		    </a>
		  </div>
		  <div class="fixed"></div>
		</div>
	      </div>

	      <div class="widget">
		<h5>Lisp</h5>
		<ul>
		  <li><a href="nmapMode.markdown">nmapMode</a></li>
		  <li><a href="dsniffMode.markdown">dsniffMode</a></li>
		  <li><a href="sudoEl.markdown">sudoEl</a></li>
		</ul>

		<br/>
		<h5>Java</h5>
		<ul>
		  <li><a href="mocha.markdown">Mocha</a></li>
		  <li><a href="regexBuilder.markdown">regexBuilder</a></li>
		  <li><a href="startUpItemApi.markdown">StartUpItem API</a></li>
		</ul>

		<br/>
		<h5>C/C++</h5>
		<ul>
		  <li><a href="makeWay.markdown">makeWay</a></li>
		</ul>
	      </div>

	      <!-- Start of Flickr Badge -->
	      <!-- <br/> -->
	      <!-- <br/> -->
	      <!-- <center> -->
	      <!-- 	<script type="text/javascript" -->
	      <!-- 		src="http://www.flickr.com/badge_code_v2.gne?count=1&display=random&size=t&layout=v&source=user&user=77255876%40N00"></script> -->
	      <!-- </center> -->
	      <!-- End of Flickr Badge -->	      
	    </div>
	  </div>
	  <!-- sidebar END -->
	  <div class="fixed"></div>
	</div>
	<!-- content END -->
	<!-- footer START -->
	<div id="footer">
	  <a id="gotop" href="#" onclick="MGJS.goTop();return false;">Top</a>
	  <div id="copyright">
	    Copyright &copy; 2009 Nurullah Akkaya
	  </div>
	  <div id="themeinfo">
	    Powered By <a href="#">enik</a> , 
	    Theme by 
	    <a href="http://wordpress.org/extend/themes/inove">mg12</a>.
	  </div>
	</div>
	<!-- footer END -->
      </div>
      <!-- container END -->
    </div>
    <!-- wrap END -->
    <script 
       src="http://www.google-analytics.com/urchin.js"
       type="text/javascript"> 
    </script>

    <script type="text/javascript">
      _uacct = "UA-87333-8";
      urchinTracker();
    </script>
  </body>
</html>
