
		<p class="under">
		</p>
		<div class="fixed"></div>
	      </div>
	    </div>	    

	  </div>
	  <!-- main END -->

	  
	  <!-- sidebar START -->
	  <div id="sidebar">

	    <!-- sidebar north START -->
	    <div id="northsidebar" class="sidebar">


	      <!-- showcase -->
	      
	      <div class="widget">
		<h3>Projects</h3>
	      </div>

	      
	      <div class="widget">		
		<h5>Lisp</h5>
		<ul>
		  <li><a href="nmapMode.html">nmapMode</a></li>
		  <li><a href="dsniffMode.html">dsniffMode</a></li>
		  <li><a href="sudoEl.html">sudoEl</a></li>
		</ul>

		<br/>
		<h5>Java</h5>
		<ul>
		  <li><a href="Mocha.html">Mocha</a></li>
		  <li><a href="regexBuiler.html">regexBuilder</a></li>
		  <li><a href="StartUpItem API.html">StartUpItem API</a></li>
		</ul>

		<br/>
		<h5>C/C++</h5>
		<ul>
		  <li><a href="makeWay.html">makeWay</a></li>
		</ul>
	      </div>

	      <!-- Start of Flickr Badge -->
	      <br/>
	      <br/>
	      <center>
		<script type="text/javascript"
		src="http://www.flickr.com/badge_code_v2.gne?count=1&display=random&size=t&layout=v&source=user&user=77255876%40N00"></script>
		</center>
	      <!-- End of Flickr Badge -->

	      
	    </div>

	  </div>
	  <!-- sidebar END -->
	  <div class="fixed"></div>
	</div>
	<!-- content END -->

	<!-- footer START -->
	<div id="footer">
	  <a id="gotop" href="#" onclick="MGJS.goTop();return false;">Top</a>
	  
	  <div id="copyright">

	  </div>
	  <div id="themeinfo">

	    Last updated on
	    <lisp>
	      (require 'calendar)
	      (setq my-date (calendar-current-date))
	      (calendar-date-string          my-date)
	    </lisp>

	    - Powered By 
	    <a href="http://mwolson.org/projects/EmacsMuse.html">Muse</a> , 
	    Theme by <a href="http://wordpress.org/extend/themes/inove">mg12</a>.</div>

	</div>
	<!-- footer END -->

      </div>
      <!-- container END -->
    </div>
    <!-- wrap END -->

<script src="http://www.google-analytics.com/urchin.js" 
	type="text/javascript">
</script>
<script type="text/javascript">
_uacct = "UA-87333-8";
urchinTracker();
</script>
</body></html>
